.video-card {
  cursor: pointer;
  margin-bottom: 20px;
}
.video-card:hover {
  opacity: 0.8;
}
.thumbnail {
  width: 100%;
  border-radius: 12px;
}
.video-info {
  padding: 10px 0;
}
.video-title {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  line-clamp: 2;   
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.channel-name {
  font-size: 12px;
  color: #aaaaaa;
  margin: 5px 0 0 0;
}