# Mac system files
.DS_Store

# Node modules
node_modules/
package-lock.json

# Editor / IDE
.vscode/
*.log

# Project specific
WebServer/node_modules/
WebServer/package-lock.json
WebServer/nodemon.json

# Self practice
Self_Practice/
