.navbar {
  width: 1600px;                
  margin-left: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 32px;
  background-color: #111;
  color: white;
}

.logo h1 {
  font-size: 20px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-item:hover {
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;    
  height: 700px;           
}
