.content {
  /* display: flex; */
  flex-direction: column;
  padding: 20px;
  /* justify-content: center;
  align-items: center; */
 
  /* background-color: blue; */
}

.content h1 {
  margin: 10px 0;
}

.content input {
  padding: 8px 12px;
  font-size: 16px;
}