/* WRAPPER LUAR */
.apiBox {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.apiBox-wrapper {
  width: 300px;
  height: 350px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.apiBox-wrapper:hover {
  background-color: #31363f;
  transform: translateY(-4px);
}

/* IMAGE SECTION */
.imgSect {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid white;
}

.imgSect img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imgSect p {
  margin: 0;
}

/* BIO SECTION */
.apiBox-bioSect {
  flex: 3;
}

.apiBox-headSect {
  height: 40px;
  display: flex;
  align-items: center;
}

.apiBox-headSect h1 {
  font-size: 18px;
  margin: 0 0 0 20px;
}

.apiBox-descSect p {
  font-size: 14px;
  margin: 0 20px;
}

/* BUTTON SECTION */
.apiBox-btnSect {
  height: 80px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

/* BUTTON = LINK */
.apiBox-btn {
  width: 170px;
  height: 40px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.25s ease, opacity 0.25s ease;
}

.apiBox-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  opacity: 0.9;
}

.apiBox-btn i {
  margin-left: 7px;
  transition: 0.3s ease, transform 0.3s ease;
}
.apiBox-btn:hover i {
    margin-left: 7px;
    transform: rotate(90deg);
    transform: translatex(5px);
}
