@import url('register.css');

/* body style */
body {
    background-color: rgb(28, 27, 27);
}

p {
    margin: 0;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column ;
}

/* navbar */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 0, 0);
    height: 50px;
}

.nav-container p {
    padding-left: 50px;
    font-family: "Geom", sans-serif;
    color: white;
}

.nav-sub-container{
    display: flex;
    padding-right: 50px;
    list-style: none;
    gap: 30px;
}

.nav-sub-container ul {
    display: flex;
    margin: 0;
    list-style: none;
    gap: 30px;
}

.nav-sub-container a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Geom", sans-serif;
}

/* About Page [Profile Section]*/

/* about page */
.row {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.col-text-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.col-text-center h1 {
    font-family: "Geom", sans-serif;
    color: rgb(255, 255, 255);
}

.about-profile {
    background-color: rgb(0, 36, 46);
    border-radius: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-profile .image {
    width: 200px;
    border-radius: 20px;
}

.about-profile p {
    font-family: "Geom", sans-serif;
    color: white;
    padding: 10px 0px 10px 0px;
}

/* Contact page */

.contact-container {
    /* background-color: red; */
    padding-top: 50px;
    width: 80% ;
}
.contact-title h1 {
    font-family: "Geom", sans-serif;
    color: white;
}
.contact-container a{
    margin: 20px 0px 20px 0px;
}
.contact-title {
    /* background-color: grey; */
    justify-content: center;
    align-items: center;
    display: flex;
}
.contact-table {
    border-radius: 10px;
    overflow: hidden;
}
.contact-table td{
    margin: 0px;
    padding: 0px;
}

.contact-table th,
.contact-table td {
    text-align: center;
    vertical-align: middle;
}
/* Add contact page  */


.add-container {
    /* background-color: blue; */
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-container {
    background-color: rgb(43, 42, 42);
    width: 400px;
    height: 550px;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 80px;
}

.regis-form{
    background-color: rgb(43, 42, 42);
    height: 45%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.regis-form img{
    width: 150px;
    border-radius: 100%;
}

.regis-form p{
    font-family: "Google Sans", sans-serif;
    font-weight:700;
    color: white;
    padding-top: 20px;
}

.regis-input{
    /* background-color: aqua; */
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.regis-input form {
    /* background-color: red; */
    width: 80%;
    height: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.regis-input .reg-input {
    background-color: rgb(43, 42, 42);
    border: 1px solid rgb(227, 227, 227);
    border-radius: 15px;
    width: 80%;
    height: 50px;
    margin-top: -10px;
    color: white;
}

.regis-input input {
    padding-left:12px ;
    font-family: "Google Sans", sans-serif;
    font-weight:400;
}

.regis-input .button {
    font-family: "Google Sans", sans-serif;
    font-weight:400;
    border-radius: 15px;
    width: 80%;
    height: 50px;
}