.navbar {
  width: 100%;
  margin: 0;
  padding: 16px 32px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #282C33;
  color: white;
  
  box-sizing: border-box;
}

.logo h1 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.nav-menu {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #646cff;
}
.nav-item a{
  color: white;
}