<div class="row">
        <div class="col-text-center">
                <h1 class="display-4">about me</h1>
                </div>
            <div class="about-profile">
                <img src="image/rayshal.jpeg" alt="rayshal" class="image">
                <p class="motivate">rayshal ariel</p>
            </div>
    </div>