<div class="add-container">
  <div class="form-container">
    <div class="regis-form">
      <img src="/image/registpfp.png" alt="regpfp">
      <p><%= errno %>!</p>
    </div>   
    <div class="regis-input">
      <form action="/contact" method="post">
        <input type="text" placeholder="Fullname" class="reg-input" name="name" value="<%= contact.name %>"><br>
        <input type="email" placeholder="Email" class="reg-input" name="email" value="<%= contact.email %>"><br>
        <input type="text" id="phone" placeholder="Mobile number" name="mobile" value="<%= contact.mobile%>" class="reg-input" pattern="[0-9]{10,15}"><br>
        <input type="submit" class="button">
      </form>
    </div>
  </div>
</div>

<script>
  const phoneInput = document.getElementById('phone'); //id = phone
    phoneInput.addEventListener('input',  (obj) => {
    obj.target.value = obj.target.value.replace(/[^0-9]/g, ''); 
  });
</script>