<div class="add-container">
  <div class="form-container">
    <div class="regis-form">
      <img src="/image/registpfp.png" alt="regpfp">
      <p><%= errno %></p>
    </div>
    
      <form action="/contact/add/" method="post">
        <div class="regis-input">
          <input type="text" placeholder="Fullname" class="reg-input" name="name" required><br>
          <input type="email" placeholder="Email" class="reg-input" name="email" required><br>
          <input type="text" id="phone" placeholder="Mobile number" class="reg-input" name="number" required><br>
          <input type="submit" class="button">
        </div>
      </form>
      
  </div>
</div>

<script>
  const phoneInput = document.getElementById('phone'); //id = phone
    phoneInput.addEventListener('input',  (obj) => {
    obj.target.value = obj.target.value.replace(/[^0-9]/g, ''); 
  });
</script>
